  exportPattern("^[[:alpha:]]+")
  import(nlme, splines)
  S3method(print, sitar)
  S3method(plot, sitar)
  S3method(lines, sitar)
  S3method(update, sitar)
  S3method(summary, sitar)
  S3method(predict, sitar)
  S3method(getData, sitar)
  S3method(getVarCov, sitar)
  S3method(getCovariate, sitar)
  S3method(print, summary.sitar)
  S3method(anova, sitar)
  importFrom("grDevices", "xy.coords")
  importFrom("graphics", "axis", "identify", "legend", "lines",
             "locator", "par", "text", "title")
  importFrom("stats", "AIC", "BIC", "as.formula", "as.ts", "coef", "cor",
             "fitted", "lag", "lm", "logLik", "mad", "model.frame",
             "model.matrix", "na.fail", "na.omit", "pnorm", "predict",
             "qnorm", "quantile", "residuals", "sd", "setNames",
             "smooth.spline", "spline", "update", "update.formula")
