exportPattern("^[[:alpha:]]+")
# export("bupdate", "cLMS", "codeplot", "devadj", "do.call...", "funcall", "heights", "lines.sitar", "lms2z", "makess", "mplot", "nk2df", "plotclean", "plot.sitar", "print.sitar", "print.summary.sitar", "recalib", "revise", "sitar", "subsample", "summary.sitar", "update.sitar", "varexp", "velout", "xaxsd", "y2plot", "yaxsd", "z2cent", "zapvelout", "zLMS", "subsample")
import(nlme, splines)
S3method(print, sitar)
S3method(plot, sitar)
S3method(lines, sitar)
S3method(update, sitar)
S3method(summary, sitar)
S3method(predict, sitar)
S3method(getData, sitar)
S3method(getVarCov, sitar)
S3method(print, summary.sitar)
